.btn-primary {
    border: 4px;
    background-color: rgb(102, 211, 250);
    color: rgb(38, 38, 38);
}
.btn-primary:hover {
    border: 4px;
    background-color: rgb(60, 153, 220);
    color: rgb(38, 38, 38);
}

.btn-outline-secondary {
    border: 4px;
    background-color: rgb(102, 211, 250);
    color: rgb(38, 38, 38);
}

.btn-outline-secondary:hover {
    border: 4px;
    background-color: rgb(60, 153, 220);
    color: rgb(38, 38, 38);    
}

.navbar-expand-md {
    background-color: rgb(15, 82, 152);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link {
    color: rgb(38, 38, 38);
}

.nav-link:hover {
    color: rgb(0, 0, 0);
}

.jumbotron {
    background-color: rgb(204, 230, 243);
}

.h1, .h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p {
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

img {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(5, 55, 97);
    max-height: auto;
    max-width: auto;
    text-align: center;
    float: center;
}